<launch>
  <!-- Bringup the robot -->
  <include file="$(find turtlebot_bringup)/launch/minimal.launch"/>

  <!-- Run the map server -->
  <node name="map_server" pkg="map_server" type="map_server" args="$(find autonomous_navigation)/maps/map.yaml" />

  <!-- Localization using AMCL -->
  <node pkg="amcl" type="amcl" name="amcl" />

  <!-- Navigation using MoveBase -->  
  <!-- <node pkg="move_base" type="move_base" name="move_base" /> -->
  <node pkg="autonomous-navigation" type="move_base.py" name="move-to" />

</launch>