<launch>
  <group if="$(arg rviz)">
  <!-- stuff that will only be evaluated if foo is true   scan:=base_scan-->
    <node pkg="rviz" type="rviz" name="rviz" args="-d $(find slam_tuto)/rviz_config/configAlexAntoine.rviz"/>
  </group>
  <param name="rviz" value="false" unless="$(arg rviz)" />
  <node pkg="turtlebot_teleop" type="turtlebot_teleop_key" name="turtlebot_teleop_keyboard"  output="screen">
    <param name="scale_linear" value="0.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <remap from="turtlebot_teleop_keyboard/cmd_vel" to="cmd_vel"/>
  </node>
  <node pkg="stage_ros" type="stageros" name="stage"  output="screen" args="$(find larml_slam)/worlds/world1.world">
  </node>
  <node pkg="gmapping" type="slam_gmapping" name="gmapping_node"
   args="scan:=base_scan" />
</launch>